<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="https://kit.fontawesome.com/a076d05399.js"></script>
<style>
.main{
    margin-left: 290px; 
    padding: 0px 10px;
    float: left;
}
.page{
    margin-top:100px;
    font-size: 22px;
}
.page span{
    color: grey;
}
.add-content{
    margin-top: 30px;
    font-weight: bold;
}
input, select{
    width: 1000px;
    height: 20px;
}
 textarea{
    width: 1000px;
    height: 40px;
}
.add-button{
    width: 90px;
    height: 40px;
    background-color: #ff4040;
    padding: 10px; 
    border-radius: 3px;
    text-align: center;
    margin-top: 40px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    border-color: #ff4040;
}
</style>
</head>
<body>
    {{>layout}}
    <div class="main">
        <div class="page"><span><b>ATN</b>Shop</span> / Edit Product</div>
        <form action="/updateProduct" method="post">
            <div class="add-content">
                <input type="hidden" name="txtId" value={{product._id}}>
                <div>ID</div>
                <input type="text" name="product_id" value={{product.product_id}}>
                <div><br><br></div>
                <div>Name</div>
                <input type="text" name="name" value={{product.name}}>
                <div><br><br></div>
                <div>Price</div>
                <input type="text" name="price" value={{product.price}}>
                <div><br><br></div>
                <div>Quantity</div>
                <input type="text" name="quantity" value={{product.quantity}}>
                <div><br><br></div>
                <div>Description</div>
                <textarea type="text" name="description">{{product.description}}</textarea>
                <div><br><br></div>
            </div>  
            <input type="submit" value="Submit" class="add-button">
        </form>
    </div>
</body>
</html>